:root {
    --background-dark: #202C36;
    --card-bg-dark: #2B3844;
    --text-color-dark: #FFF;
    --placeholder-color-dark: #FFF;

    --background-light: #F2F2F2;
    --card-bg-light: #FFF;
    --text-color-light:  #111517;
    --placeholder-color-light: #848484;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: var(--text-color-light);
}

body * {
    box-sizing: border-box;
}

body.theme-mode {
    transition: 0.4s background-color ease-in-out, 0.4s color ease-in-out;
}

body.theme-mode--light {
    background-color: var(--background-light);
    color: var(--text-color-light);
}
body.theme-mode--dark {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}

.title-text-main {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

.text-semibold-normal {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 6px;
    transition: 0.4s background-color ease-in-out, 0.4s box-shadow ease-in-out;
    text-decoration: none;
    outline: 0;
    border: none;
}
.button.button--with-icon {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    min-width: 136px;
}
body.theme-mode--light .button.button--with-icon svg path {
    fill: var(--text-color-light);
}
body.theme-mode--dark .button.button--with-icon svg path {
    fill: var(--text-color-dark);
}


body.theme-mode--light .button {
    background: var(--card-bg-light);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    color: var(--text-color-light);
}
body.theme-mode--dark .button {
    background: var(--card-bg-dark);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    color: var(--text-color-dark);
}

main .container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 24px 0;
    transition: 0.4s background-color ease-in-out, 0.4s box-shadow ease-in-out;
}
body.theme-mode--light header {
    background-color: var(--card-bg-light);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
body.theme-mode--dark header {
    background-color: var(--card-bg-dark);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-switcher {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.theme-switcher .text-semibold-normal {
    text-align: right;
    white-space: nowrap;
}

body.theme-mode--light .theme-switcher__icon svg path {
    stroke: var(--text-color-light);
}
body.theme-mode--dark .theme-switcher__icon svg path {
    stroke: var(--text-color-dark);
}


/**
    Filters Section ------------------------------------------------
*/
.filters-section {
    margin: 48px 0;
}
.filters-section > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-input {
    padding: 19px 32px;
    transition: 0.4s background-color ease-in-out, 0.4s box-shadow ease-in-out, 0.4s color ease-in-out;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.custom-input input {
    outline: 0;
    box-sizing: border-box;
    border: none;
    display: block;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
.custom-input input::-webkit-input-placeholder { /* Edge */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--placeholder-color-light);
}
.custom-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--placeholder-color-light);
}
.custom-input input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--placeholder-color-light);
}

body.theme-mode--light .custom-input input::-webkit-input-placeholder {
    color: var(--placeholder-color-light);
}
body.theme-mode--light .custom-input input:-ms-input-placeholder {
    color: var(--placeholder-color-light);
}
body.theme-mode--light .custom-input input::placeholder {
    color: var(--placeholder-color-light);
}
body.theme-mode--dark .custom-input input::-webkit-input-placeholder {
    color: var(--placeholder-color-dark);
}
body.theme-mode--dark .custom-input input:-ms-input-placeholder {
    color: var(--placeholder-color-dark);
}
body.theme-mode--dark .custom-input input::placeholder {
    color: var(--placeholder-color-dark);
}

.custom-input__icon {
    display: flex;
}
body.theme-mode--light .custom-input__icon svg path {
    fill: #848484;
}
body.theme-mode--dark .custom-input__icon svg path {
    fill: #FFF;
}

body.theme-mode--light .custom-input {
    background: var(--card-bg-light);;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    color: var(--text-color-light);
}
body.theme-mode--dark .custom-input {
    background: var(--card-bg-dark);;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    color: var(--text-color-dark);
}


.search-input-box {
    width: 480px;
    display: flex;
    gap: 24px;
}
.search-input-box input {
    background: transparent;
    display: block;
}
.select-input-box {
    width: 200px;
    padding: 18px 24px;
    cursor: pointer;
}

.select-value-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.theme-mode--light .select-value-box svg path {
    fill: black;
}
body.theme-mode--dark .select-value-box svg path {
    fill: white;
}

.select-input-box__wrapper {
    position: relative;
}

.select-input-box__options {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    transition: 0.4s background-color ease-in-out, 0.4s box-shadow ease-in-out, 0.4s color ease-in-out, 0.2s opacity ease-in-out;

    opacity: 0;
    z-index: -1;
}

.select-input-box__options.visible {
    opacity: 1;
}
.select-input-box__options.active {
    z-index: 100;
}

.select-input-box__options li {
    margin: 0;
    padding: 8px 24px;
    transition: 0.2s background-color ease-in-out;
    cursor: pointer;
}
.select-input-box__options li:first-child {
    padding-top: 16px;
}
.select-input-box__options li:last-child {
    padding-bottom: 16px;
}

body.theme-mode--light .select-input-box__options {
    background: var(--card-bg-light);;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    color: var(--text-color-light);
}
body.theme-mode--dark .select-input-box__options {
    background: var(--card-bg-dark);;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    color: var(--text-color-dark);
}

body.theme-mode--light .select-input-box__options li {
    background-color: var(--card-bg-light);
}
body.theme-mode--light .select-input-box__options li:hover {
    background-color: var(--background-light);
}

body.theme-mode--dark .select-input-box__options li {
    background-color: var(--card-bg-dark);
}
body.theme-mode--dark .select-input-box__options li:hover {
    background-color: var(--background-dark);
}




/**
    Grid Cards ------------------------------------------------
*/
.grid {
    background: transparent;
}
.grid > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 75px;
}

.card {
    text-decoration: none;
    transition: 0.4s background-color ease-in-out, 0.4s box-shadow ease-in-out, 0.4s color ease-in-out;
}
body.theme-mode--light .card {
    color: var(--text-color-light);
    background-color: var(--card-bg-light);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
body.theme-mode--dark .card {
    color: var(--text-color-dark);
    background-color: var(--card-bg-dark);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.card .card__header {
    height: 160px;
}
.card .card__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card__body {
    padding: 24px 24px 46px;
}

.card .card__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 16px;
}

.country-statistic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.country-statistic:last-of-type {
    margin-bottom: 0;
}

.country-statistic .country-statistic__label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}
.country-statistic .country-statistic__value {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}

.overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
}


/**
*  Single Page
*/
.actions-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.single-country .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    gap: 120px;
}

.single-country .single-country__flag {
    flex-grow: 1;
    max-width: 560px;
    height: 400px;
    /* box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384); */
    border-radius: 10.0057px;
    overflow: hidden;
}
.single-country .single-country__flag > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-country .single-country__data {
    flex-grow: 1;
    max-width: 560px;
}

.single-country__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 24px;
}
.single-country__details {
    margin: 0;
    padding: 0;
    column-count: 2;
    column-gap: 140px;
}

.single-country__details > li:nth-child(5) {
    break-after: column;
}

.single-country__borders {
    display: flex;
    gap: 15px;
    margin-top: 68px;
}
.single-country__borders > label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    padding-top: 9px;
}

.single-country__borders-countries {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


@media screen and (max-width: 1439px) {
    main .container {
        max-width: 980px;
    }

    .grid > .container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
}

@media screen and (max-width: 989px) {
    main .container {
        max-width: 780px;
    }

    .grid > .container {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .single-country > .container {
        flex-direction: column;
    }

    .single-country .single-country__flag {
        height: 229px;
    }
}

@media screen and (max-width: 768px) {
    main .container {
        max-width: 343px;
    }

    .grid > .container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .filters-section > .container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .filters-section > .container .search-input-box {
        max-width: 100%;
        min-width: 100%;
    }
    .filters-section > .container .select-input-box__wrapper {
        max-width: 100%;
        min-width: 100%;
    }
    .filters-section > .container .select-input-box__wrapper .select-input-box {
        max-width: 100%;
        min-width: 100%;
    }

    .text-semibold-normal {
        font-size: 12px;
        line-height: 16px;
    }
    .title-text-main {
        font-size: 14px;
        line-height: 20px;
    }
}